.idea
nul
__pycache__/
.venv*/

# exclude datafiles
*.parquet
*.csv
*.xlsx

site/
tests/benchmarks/data/
.pypirc
dist/
logs/
*.pdfdocs/assets/crr-annex-xx-instructions-regarding-disclosure.PDF
docs/assets/*.pdf
docs/assets/*.PDF

.claude/state/